@import 'common';


.wrap {
  background-color: #F6F6F6;
}

header .navbar-nav .nav-link {
  color: #6A6A6A !important
}

header .navbar-nav .nav-link.color-white {
  color: #fff !important;
}
.logo-home {
  display: none;
}
header {
  height: 15vh;
  display: flex;
}
header .navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  width: 100%;
}

/* -----------------------------------------------------------------------ABOUT SLIDER------------------------------------------------------------------ */

.project-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 0;

  .the-sang {
    color: $color-the-sang;
  }

}

/* social language */
.social-language__lang li a, .social-language__lang li span {
  color: $color-default;
}

.social-language__line:before {
  background-color: $color-default;
}

.the-sang {
  color: $color-the-sang;
}

/*PROJECT*/
.tabs-project {
  margin-left: 10vw;
  height: 15vh;
  margin-bottom: 0 !important;

  li a {
    font-weight: bold;
    font-size: 16px;
    color: #ABABAB !important;
    background-color: transparent !important;

    &.active, &:hover {
      color: #6A6A6A !important;
    }
  }
}

.close-project-image-preview {
  border: none;
  background: transparent;
  outline: none;
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  right: -30px;
  z-index: 1;
  top: -31px;
  cursor: pointer;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.project-tab-content {
  margin-top: 0;
}

#project-modal-preview {
  @media (min-width: 1400px) {
    .modal-lg {
      max-width: 1370px;
    }
  }
  @media (min-width: 1200) {
    .modal-lg {
      max-width: 1140px;
    }
  }

  .modal-body, .modal-header {
    padding: 0;
  }

  .modal-body {
    border: 3px solid #E4AA4F;
  }
}

.project-slide-1 {
  /*padding-left: 8vw;*/
  height: 42vh;
  overflow: hidden;
  .slide-info {
    background-color: #B02A30;
    padding: 35px 30px;

    h3 {
      font-size: 20px;
      font-weight: bold;
      color: #FFFFFF;
      text-transform: uppercase;
    }

    h2 {
      font-weight: bold;
      font-size: 2.4vw;
      color: #FFFFFF
    }

    .text {
      color: #FFFFFF;
      font-size: 16px;
      line-height: 22px;
    }

    .go-to-home {
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: #FFFFFF;
      display: flex;
      align-items: center;

      a {
        cursor: pointer;
        margin-left: 10px;
        display: block;
        width: 25px;

        svg {
          display: block;
          width: 100%;
        }
      }
    }

    ul {
      margin-top: 25px;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        display: flex;
        align-items: center;

        .text {
          margin-left: 5px;
          margin-bottom: 25px;
        }
      }
    }
  }
}

.custom-arrow {
  position: absolute;
  bottom: 30px;
  right: 50px;

  li {
    span {
      display: block;
      float: left;
      cursor: pointer;
      width: 5.3vw;
      svg {
        width: 100%;
        height: 100%;
      }
      &:hover svg.default {
        display: none;
      }

      &:hover svg.hover {
        display: block;
      }

      &:first-child {
        margin-right: 10px;
      }
    }

    svg.hover {
      display: none;
    }
  }
}

.desc-follow-slide {
  margin-top: 0;
  padding-left: 8vw;
  height: 28vh;
  display: flex;
  align-items: start;
  padding-top: 3vh;
  .number {
    float: left;
    margin-right: 20px;
    display: block;
    color: #D7D7D7;
    font-size: 16px;
    font-weight: bold;

    .change {
      color: #6A6A6A;
    }
  }

  .group-desc {
    display: block;
    width: 49%;

    .desc {
      display: none;

      p {
        color: #6A6A6A;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 0;
      }
    }

    .active {
      display: block !important;
    }
  }
}

.project-line-process {
  position: absolute;
  z-index: 2;
  bottom: 5vh;
  left: 10vw;

  span {
    float: left;
  }

  .line-1, .line-2, .line-3, .line-4 {
    width: 10vw;
    display: block;
    height: 1px;
    border: 1px solid #6A6A6A;
    background: #6A6A6A;
    margin-top: 13px;
    position: relative;
  }

  .active:after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 100%;
    background-color: $color-the-sang;
    height: 3px;
  }
}

.close-popup {
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: -14px;
  right: -14px;
  svg {
    width: 30px;
    height: 30px;
    display: block;
  }
}
#popup-project {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-body {
    padding: 40px 0 0;

    .popup-project-slide {
      .item {
        height: 173px;
        img {
          width: 100%;
          height: auto;
          display: block;
          margin: 0 auto;
        }
      }
    }

    .group-project-slide {
      position: relative;
      margin-top: 65px;
      margin-bottom: 45px;

      .hand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -28px;
        z-index: 1;
      }
    }

    .arrow {
      margin-top: 35px;
      margin-bottom: 35px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        display: block;
        cursor: pointer;
        width: 75px;
        height: 39px;
        svg {
          width: 100%;
          height: 100%;
        }

        .hover {
          display: none;
        }

        &:hover .default {
          display: none;
        }

        &:hover .hover {
          display: block;
        }
      }

      span:last-child {
        margin-left: 5px;
      }

    }

    .title, .or {
      font-size: 18px;
      font-weight: bold;
      color: #6A6A6A;
      text-transform: uppercase;
      text-align: center;
      display: block;
      width: 100%;
    }

    .form-check {
      background-color: #B02A30;
      height: 60px;
      width: 100%;
      display: block;

      input {
        display: none;
      }

      label {
        font-size: 18px;
        color: #E4AA4F;
        position: relative;
        margin: 0 auto;
        display: block;
        text-align: center;
        line-height: 20px;
        padding-top: 18px;
      }

      label:before {
        display: block;
        content: '';
        width: 22px;
        height: 22px;
        background-color: #FFFFFF;
        float: left;
      }

      input:checked + label:after {
        content: '';
        display: block;
        position: absolute;
        top: 20px;
        left: 9px;
        width: 6px;
        height: 14px;
        border: solid #0079bf;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

  }
}

@media (max-width: 1439.98px) {
  .project-slide-1 .slide-info {
    padding: 15px 15px;
  }
 /*  .project-slide-1 .slide-info h2 {
   font-size: 38px;
   } */
   .project-slide-1 .slide-info h3 {
    font-size: 18px;
  }
  .desc-follow-slide .group-desc .desc p {
    font-size: 15px;
    line-height: 26px;
  }
}

@media (max-width: 1199.98px) {
  header {
    height: 120px;
  }
  /* .project-tab-content {
    margin-top: 30px;
    } */
    .desc-follow-slide {
      margin-top: 20px;
    }
    .social-language {
      left: 10px;
    }
    .project-line-process {
      left: 12vw;
    }
    .desc-follow-slide .group-desc {
      width: 60%;
    }
  }

  @media (max-width: 767.98px) {
    div#wrap {
      height: auto;
      overflow: unset;
    }
    header {
      height: 72px;
    }
    header .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .tabs-project {
      padding-left: 15px;
      margin-left: 0;
    }
    .project-slide-1 .slide-info h3 {
      font-size: 14px;
    }
    .project-slide-1 .slide-info h2 {
      font-size: 20px;
    }
    .social-language, .project-line-process {
      display: none;
    }
    .tabs-project li a {
      font-size: 16px;
      padding: 5px 10px;
    }
    .project-tab-content {
      padding-top: 0;
    }
    .custom-arrow {
      position: absolute;
      bottom: 5px;
      right: 10px;
      margin-bottom: 0;
    }
    .custom-arrow li span {
      width: 60px;

      svg {
        width: 100%;
      }
    }
    .project-slide-1 .slide-info .text {
      font-size: 14px;
    }
    .project-slide-1 .slide-info ul {
      margin-top: 15px;
      margin-bottom: 0px;
    }
    .project-slide-1 .slide-info {
      padding: 10px 10px;
    }
    .project-slide-1 .slide-info .go-to-home {
      margin-bottom: 0;
    }
    .desc-follow-slide {
      padding-left: 15px;
      padding-right: 15px;
    }
    .desc-follow-slide:after {
      content: '';
      clear: both;
      display: table;
    }
    .desc-follow-slide .group-desc {
      width: calc(100% - 75px);
    }
    .custom-arrow {
      position: unset;
      float: right;
      width: 100%;
    }
    .custom-arrow li {
      float: right;
      margin-right: 15px;
    }
    .custom-arrow li:after {
      content: '';
      clear: both;
      display: table;
    }
    .close-project-image-preview {
      width: 35px;
      height: 35px;
      right: -8px;
      top: -15px;
    }
    body {
      background-color: #F6F6F6;
    }
  }
  @media (max-device-width: 991.98px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    div#wrap {
      height: auto;
      overflow: unset;
    }
    .social-language {
      display: none;
    }
    .project-line-process {
      display: none;
    }
    .desc-follow-slide {
      padding-bottom: 15px;
    }
    .custom-arrow li span {
      width: 60px;

      svg {
        width: 100%;
      }
    }
  }

