@font-face {
  font-family: "UTM Aptima";
  src: url("../fonts/UTM-Aptima.ttf") format("woff"), url("../fonts/UTM-Aptima.ttf") format("opentype"), url("../fonts/UTM-Aptima.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UTM Aptima";
  src: url("../fonts/UTM-AptimaBold.ttf") format("woff"), url("../fonts/UTM-AptimaBold.ttf") format("opentype"), url("../fonts/UTM-AptimaBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "UTM Aptima";
  src: url("../fonts/UTM-AptimaBoldItalic.ttf") format("woff"), url("../fonts/UTM-AptimaBoldItalic.ttf") format("opentype"), url("../fonts/UTM-AptimaBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "UTM Aptima";
  src: url("../fonts/UTM-AptimaItalic.ttf") format("woff"), url("../fonts/UTM-AptimaItalic.ttf") format("opentype"), url("../fonts/UTM-AptimaItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SVN A Love";
  src: url("../fonts/SVN-A-Love-Of-Thunder.ttf") format("woff"), url("../fonts/SVN-A-Love-Of-Thunder.ttf") format("opentype"), url("../fonts/SVN-A-Love-Of-Thunder.ttf") format("truetype");
}
body {
  font-family: "UTM Aptima";
  font-size: 18px;
}

div#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  display: block;
  overflow: hidden;
}

/* -----------------------------------------------------------------------END MAIN SLIDER-------------------------------------------------------------- */
header {
  width: 100%;
  height: 152px;
  padding-left: 45px;
  padding-right: 45px;
  position: relative;
  z-index: 6;
}
header .navbar {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 0;
  padding-right: 0;
}
header .logo {
  padding-top: 0;
  padding-bottom: 0;
  height: 56px;
}
header .logo > img {
  width: auto;
  height: 100%;
}
header .navbar-nav .nav-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF !important;
  padding-left: 1.75vw !important;
  padding-right: 1.75vw !important;
}

header .navbar-nav .nav-item.active .nav-link,
header .navbar-nav .nav-item:hover .nav-link {
  color: #E4AA4F !important;
}

.btn-home-other {
  width: 38px;
  height: 32px;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  box-shadow: none;
  overflow: hidden;
  display: block;
  line-height: 38px;
}
.btn-home-other:focus {
  border: none;
  outline: none;
}
.btn-home-other span {
  display: block;
  margin: 0 auto;
}
.btn-home-other .close {
  display: none;
}

@media (max-width: 1199.98px) {
  header {
    padding-left: 15px;
    padding-right: 15px;
  }

  header .logo {
    height: 46px;
  }

  header .navbar {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  header .navbar-nav .nav-link {
    font-size: 14px;
    line-height: 14px;
  }

  .btn-home-other {
    margin-left: 15px;
  }
}
@media (max-width: 991.98px) {
  .navbar-light .navbar-toggler {
    border: none;
    padding: 0;
    outline: none;
  }
  .navbar-light .navbar-toggler svg {
    width: 32px;
    height: 30px;
    color: #FFFFFF;
  }

  header .navbar-nav .nav-item {
    margin-top: 15px;
    text-align: right;
  }

  header .navbar-nav .nav-link {
    font-size: 18px;
    line-height: 1.5;
  }

  .btn-home-other {
    float: right;
    padding-right: 1.75vw !important;
  }

  header .navbar-collapse {
    position: fixed;
    width: 100%;
    background: #3232;
    top: 95px;
    left: 0;
    padding: 10px 15px 20px 15px;
  }
}
@media (max-width: 767.98px) {
  header .logo {
    width: calc(100% - 65px);
    height: auto;
  }

  header .logo > img {
    width: 100%;
    height: auto;
  }
}
@media (max-device-width: 991.98px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  header .logo {
    width: 400px;
  }

  header .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  header .navbar-nav .nav-item {
    margin-top: 0;
  }
}
/* -----------------------------------------------------------------------SOCIAL LANGUAGE-------------------------------------------------------------- */
.social-language {
  position: absolute;
  left: 45px;
  bottom: 80px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-language__lang {
  padding-bottom: 5px;
  margin-bottom: 32px;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  transform: rotate(90deg);
  display: block;
}
.social-language__lang li {
  display: block;
  float: left;
}
.social-language__lang li a, .social-language__lang li span {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
}
.social-language__lang li a.active, .social-language__lang li a:hover {
  color: #E4AA4F;
}
.social-language__social {
  margin-top: 32px;
  display: block;
}
.social-language__social a {
  width: 25px;
  height: 25px;
  display: block;
}
.social-language__social a svg.hover {
  display: none;
}
.social-language__social a.link-youtube {
  margin-bottom: 25px;
}
.social-language__social a:hover svg.hover {
  display: block;
}
.social-language__social a:hover svg.default {
  display: none;
}
.social-language__line {
  display: block;
  width: 100%;
  height: 100px;
  position: relative;
}
.social-language__line:before {
  content: "";
  display: block;
  width: 2px;
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background-color: #fff;
}

@media (max-width: 767.98px) {
  .social-language {
    left: 10px;
  }
}
@media (max-device-width: 991.98px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .social-language {
    left: 5px;
    bottom: 15px;
  }

  .social-language__lang {
    margin-bottom: 20px;
  }

  .social-language__line {
    height: 50px;
  }

  .social-language__line:before {
    height: 50px;
  }

  .social-language__social {
    margin-top: 15px;
  }

  .social-language__social a.link-youtube {
    margin-bottom: 12px;
  }
}
/*-----------------------------------------------------------------------OWL CAROUSEL-----------------------------------------------------------------------*/
.owl-nav {
  position: absolute;
  bottom: 30px;
  right: 50px;
  margin: 0 !important;
}

.owl-carousel .owl-nav button {
  background-color: transparent !important;
  border: none;
  outline: none;
  -webkit-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  transition: transform 0.2s;
}
.owl-carousel .owl-nav button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/*-----------------------------------------------------------------------HOME OTHER-----------------------------------------------------------------------*/
.home-other {
  position: absolute;
  z-index: 5;
  top: -100%;
  transition: all 1s;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #A9282E;
  overflow: hidden;
}

.countour-round {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../video-photo/1.1-Trang-chu/DATA-Trang-chu/countourround.png");
  background-repeat: no-repeat;
  background-position: 75% 50%;
}

.wrap-other-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
}
.wrap-other-content__top {
  border-top: 1px solid #BABABA;
  border-bottom: 1px solid #BABABA;
  padding-top: 4.5vh;
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
  align-items: start;
  justify-content: space-between;
  height: calc(50vh - 90px);
  overflow: hidden;
}
.wrap-other-content__top .right {
  text-align: right;
}
.wrap-other-content__top .right .desc {
  line-height: 30px;
  font-weight: 16px;
  color: #fff;
}
.wrap-other-content__top .right .wrap-input {
  position: relative;
  width: 432px;
  height: 44px;
  border-radius: 26px;
  border: 1px solid #E4AA4F;
  float: right;
}
.wrap-other-content__top .right .wrap-input input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 15px;
  color: #fff;
  font-size: 16px;
}
.wrap-other-content__top .right .wrap-input input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}
.wrap-other-content__top .right .wrap-input input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}
.wrap-other-content__top .right .wrap-input input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.wrap-other-content__top .right .wrap-input input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
.wrap-other-content__top .right .wrap-input input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}
.wrap-other-content__top .right .wrap-input input::placeholder {
  /* Most modern browsers support this now. */
  color: #fff;
}
.wrap-other-content__top .right .wrap-input:before {
  content: "";
  display: block;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 5px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #E4AA4F;
}
.wrap-other-content .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.wrap-other-content ul li {
  margin-bottom: 5px;
}
.wrap-other-content ul li span.text {
  margin-left: 15px;
  line-height: 30px;
  font-weight: 16px;
  color: #fff;
}
.wrap-other-content__bottom {
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
}
.wrap-other-content__bottom p, .wrap-other-content__bottom a {
  line-height: 30px;
  font-size: 16px;
  color: #fff;
}

@media (max-width: 1199.98px) {
  .wrap-other-content__top {
    padding-top: 7vh;
  }
}
@media (max-width: 991.98px) {
  .wrap-other-content__top {
    display: block;
    align-items: initial;
    justify-content: initial;
  }

  .wrap-other-content__top .left, .wrap-other-content__top .right {
    width: 100%;
    display: block;
  }

  .wrap-other-content__top .right {
    text-align: left;
  }

  .wrap-other-content__top .right .wrap-input {
    float: left;
  }
}
@media (max-width: 767.98px) {
  .wrap-other-content {
    height: 50%;
    min-height: 500px;
  }

  .wrap-other-content__top {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    height: calc(500px - 90px);
  }

  .wrap-other-content .title {
    font-size: 16px;
    line-height: 1.2;
  }

  .wrap-other-content ul li span.text {
    margin-left: 5px;
    line-height: 1.2;
    font-size: 16px;
  }

  .wrap-other-content__top .right .desc {
    margin-left: 5px;
    line-height: 1.5;
    font-size: 16px;
  }

  .wrap-other-content__top .right .wrap-input {
    width: 100%;
  }

  .wrap-other-content__bottom {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    align-items: initial;
    justify-content: initial;
  }

  .wrap-other-content__bottom .left {
    margin-top: 10px;
  }

  .wrap-other-content__bottom p, .wrap-other-content__bottom a {
    margin-bottom: 0;
  }
}
@media (max-device-width: 991.98px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .wrap-other-content {
    height: 70vh;
    min-height: 240px;
  }

  .wrap-other-content__top {
    padding: 15px;
    height: calc(70vh - 50px);
    display: flex;
  }

  .wrap-other-content .title {
    line-height: 1;
  }

  .wrap-other-content ul li span.text {
    font-size: 16px;
    line-height: 1.2;
  }

  .wrap-other-content__bottom {
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrap-other-content__bottom .left {
    margin-top: 0;
  }

  .wrap-other-content__bottom p, .wrap-other-content__bottom a {
    margin-bottom: 0;
  }

  .wrap-other-content__top .right .desc {
    font-size: 16px;
  }
}
.fade-out {
  -webkit-transition: all 1s;
  -ms-transition: all 1s;
  top: 0 !important;
}

.move-to-top {
  -webkit-animation: move-up-to-top 1.5s;
  animation: move-up-to-top 1.5s;
}

@-webkit-keyframes move-up-to-top {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
@keyframes move-up-to-top {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
.wrap {
  background-color: #F6F6F6;
}

header .navbar-nav .nav-link {
  color: #6A6A6A !important;
}

header .navbar-nav .nav-link.color-white {
  color: #fff !important;
}

.logo-home {
  display: none;
}

/* -----------------------------------------------------------------------ABOUT SLIDER------------------------------------------------------------------ */
/* social  language */
.social-language__lang li a, .social-language__lang li span {
  color: #6A6A6A;
}

.social-language__line:before {
  background-color: #6A6A6A;
}

.the-sang {
  color: #E4AA4F;
}

/*contact*/
.main-contact {
  padding-left: 10vw;
}

.main-contact__left {
  display: block;
  float: left;
  width: 45%;
}

.main-contact__right {
  width: 55%;
  display: block;
  float: right;
  overflow: hidden;
}
.main-contact__right img {
  max-width: 100%;
  height: auto;
  display: block;
}

.main-contact__left_top .title {
  font-size: 36px;
  line-height: 50px;
  color: #B02A30;
  font-weight: bold;
  margin-bottom: 35px;
}

.main-contact__left_top .sub-title {
  color: #707070;
  font-size: 24px;
  line-height: 50px;
  font-weight: bold;
}

.main-contact__left_top ul {
  margin-top: 30px;
  padding-top: 30px;
  width: 100%;
  border-top: 1px solid #C7C7C7;
}
.main-contact__left_top ul li span.icon {
  margin-right: 20px;
}
.main-contact__left_top ul li span.text {
  font-size: 18px;
  color: #6A6A6A;
  line-height: 40px;
}

.main-contact__left_bottom {
  margin-top: 80px;
}

.main-contact__left_bottom .title {
  color: #B02A30;
  font-size: 24px;
  line-height: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.main-contact__left_bottom .sub-title {
  font-size: 18px;
  color: #6A6A6A;
  line-height: 1.5;
}

.main-contact__left_bottom input, .main-contact__left_bottom select, .main-contact__left_bottom textarea {
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  border-bottom: 1px solid #C7C7C7;
  font-size: 16px;
  color: #6A6A6A;
  width: 100%;
}
.main-contact__left_bottom input:focus, .main-contact__left_bottom select:focus, .main-contact__left_bottom textarea:focus {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #C7C7C7;
  box-shadow: none;
}
.main-contact__left_bottom input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #6A6A6A;
}
.main-contact__left_bottom input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #6A6A6A;
  opacity: 1;
}
.main-contact__left_bottom input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #6A6A6A;
  opacity: 1;
}
.main-contact__left_bottom input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #6A6A6A;
}
.main-contact__left_bottom input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #6A6A6A;
}
.main-contact__left_bottom input::placeholder {
  /* Most modern browsers support this now. */
  color: #6A6A6A;
}
.main-contact__left_bottom .line-1, .main-contact__left_bottom .line-2 {
  margin-bottom: 10px;
}
.main-contact__left_bottom .line::after {
  content: "";
  display: table;
  clear: both;
}
.main-contact__left_bottom .input-left {
  width: 50%;
  float: left;
  padding-right: 12px;
}
.main-contact__left_bottom .input-right {
  width: 50%;
  float: right;
  padding-left: 12px;
}
.main-contact__left_bottom .line-3 {
  margin-bottom: 20px;
}
.main-contact__left_bottom .submit {
  width: 158px;
  height: 46px;
  background-color: #E4AA4F;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}
.main-contact__left_bottom .submit:hover {
  opacity: 0.75;
}

@media (max-width: 1439.98px) {
  .main-contact__left_top .sub-title {
    font-size: 22px;
    line-height: 1.5;
  }

  .main-contact__left_bottom {
    margin-top: 50px;
  }
}
@media (max-width: 1199.98px) {
  header {
    height: 125px;
  }

  .main-contact {
    padding-left: 10vw;
  }

  .social-language {
    left: 15px;
  }

  .main-contact__left {
    width: 50%;
  }

  .main-contact__right {
    width: 50%;
  }

  .main-contact__left_top .title {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 15px;
  }

  .main-contact__left_top .sub-title {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
  }

  .main-contact__left_top ul {
    margin-top: 15px;
    padding-top: 15px;
  }

  .main-contact__left_top ul li span.text {
    font-size: 16px;
    line-height: 1.2;
  }

  .main-contact__left_bottom {
    margin-top: 25px;
  }

  .main-contact__left_bottom .title {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 15px;
  }

  .main-contact__left_bottom .sub-title {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
}
@media (max-width: 767.98px) {
  div#wrap {
    overflow: unset;
  }

  .main-contact {
    padding: 0;
  }

  .main-contact:after {
    content: "";
    clear: both;
    display: table;
  }

  .main-contact__left {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    background-color: #F6F6F6;
  }

  .main-contact__left:after {
    content: "";
    clear: both;
    display: table;
  }

  .main-contact__right {
    width: 100%;
  }

  .main-contact__left_bottom {
    margin-top: 35px;
  }

  .main-contact__left_top .title {
    margin-bottom: 35px;
  }

  .social-language {
    display: none;
  }
}
